<div id='signin' ng-controller='AuthController'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text' name='username' ng-model='user.username' required>
    <input type="password" name='password' ng-model='user.password' required>
    <span ng-show='!signinForm.username.$error.required && !signinForm.password.$error.required'><button>signin</button></span>
  </form>
  <span class='message err' ng-show='signinForm.username.$error.required || signinForm.password.$error.required'>Missing Field!</span>
  <div><a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a></div>
</div>
